/*  -kipOmaha Styles  */

#pageHeader{
	position:absolute; top:5mm; left:50mm;
}

#visitorsCenterContent{
	position:absolute; top:30mm; margin:5mm; width:100%;
} 



/* monthlyEvents Class style */


.monthlyEvents{
	width:80%;
}

.eventLi{
	background-color:rgba(100,255,255,1); padding:5mm; margin:2mm;
	border-radius:5mm;
	list-style:none;
}

.eventDesc{
	width:86%;
}






