/* 
    Created on : May 30, 2017, 4:44:35 PM
    Author     : Steven Van Sant
*/

/* [keyframes] */
@keyframes moveToFocus{
	0%{
	  top: 5%; 
	  left: 5%;
	  width: 0%;
	  height: 0%;
	  opacity: 0;
	}
	100%{
	  top: 5%; 
	  left: 5%;
	  width: 90%;
	  height: 90%;
	  opacity: 1;
	}
	
}

/* [classes] */
.target-toFront{
	animation-name: moveToFocus;
	animation-duration: .75s;
	animation-fill-mode: forwards;
	position: fixed;
	background-color: rgba(175,145,35);
	z-index: 1000;
}
