body{
	font-family: cursive;
}

/* xtag styles start */
x-header{
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 150px;
	background-color: white;
}
x-content{
	position: absolute;
	left: 0px;
	top:150px;
	width: 800px;
	height: 800px;
	padding: 5px;
	margin-left: 100px;
	background-color: green;
}
x-footer{
	position: absolute;
	left: 0px;
	top:950px;
	width: 100%;
	height: 150px;
	background-color: white;
}
x-reader{
	position: relative;
	width: 300px;
	height: 400px;
	border: 1px black solid;
	background: rgba(255,255,255,.6);
}
x-toolbar{
	
}
/* xtag styles end */

/* flip book styles start*/
.project-link{
	color: rgb(55,55,55);
}
.project-link:hover{
	color: skyblue;
}

/* flip book styles end*/