/*
  Author: Steven Van Sant
  doctype: css
  License: MIT License
*/

/* [keyframes] */
@keyframes gYmin-1{
  0%{
    top: 0%;
  }
  100%{
    top: -180px;
  }
}
@keyframes gYadd-1{
  0%{
    top: 0%;
  }
  100%{
    top: 200px;
  }
}
@keyframes gBar-1{
  0%{
    padding-left: 0%;
    padding-right: 0%;
  }
  100%{
    padding-left: 48%;
    padding-right: 48%;
  }
}

/* [html] */
body{
  font-family: arial;
  font-size: .85vw;
}
a:link{
  color: rgba(65,65,65,1); stroke: rgba(215,215,215,1); fill: rgba(75,75,85,1);
}
a:visited{
  color: rgba(255,175,17,1); stroke: rgba(255,215,215,1); fill: rgba(175,75,85,1);
}
a:hover{
  background-color: rgb(225,225,225);
  color: rgb(100,175,100); stroke: rgba(165,165,255,1); fill: rgba(65,65,125,1);
}
a:active{
  background: rgb(225,225,225);
  color: rgb(255,255,17); stroke: rgba(255,17,17,1); fill: rgba(175,75,85,1);
}

input[type="button"]{
  background-color: orange;
}
input[type="button"]:hover{
  background-color:  skyblue;
}
input[type="button"]:active{
  background: yellow;
}
input[type="button"]:focus{
  background-color: yellow;
}
input[type="submit"]{
  position: absolute; 
  left: 90%;
  top: 5%; 
  width: 100px; 
  height: 75px;
  background-color: rgba(255,177,17,1);
}

label{
  display: inline-block;
  box-sizing: border-box;
}

form{
  box-sizing: border-box;
  display: inline-block;
  background: rgba(255,177,17,.75);
}

fieldset{
  position: relative;
  display: block;
  box-sizing: border-box;
  background: white;
}
form > fieldset:last-child{
  height: calc(100% - 275px);
}

/* [xhtml] */
fire-base{
  position: fixed; 
  left: 0px; 
  top: 0px; 
  width: 0px; 
  height: 0px;
  overflow: hidden; 
  opacity: 0;   
}
j-viewport{
  position: relative;
  display: inline-block;
}

/* [j-menu] */
j-menu{
  display: inline-block; 
  overflow: hidden;
  background: rgba(255,255,255,.95);
}

/* [j-header] */
j-header, j-footer{
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}
body > j-header:first-of-type{
  position: fixed;
  top: 75px;
}
body > j-header:first-child{
  position: fixed; 
  top: 0px; 
  left: 0px;
  margin: 0%;
  border-bottom: solid black 1px;
}

/* [j-tray] */
j-tray{
  display: inline-block; 
  box-sizing: border-box;
  overflow-Y: hidden; 
  overflow-X: hidden;
  background-color: rgba(255,255,255,.55); 
  border: ridge 2px rgb(98,98,98);
}
body > j-tray:first-child{
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 75px; 
}
body > j-tray:last-child{
    position: fixed; 
    top: calc(100%-75px);
    left: 0px;
    width: 100%; 
    height: 75px; 
}


/* [json-canvas] */
json-canvas{
  position: relative;
  display: block;
  box-sizing: border-box;
}


/* [j-resize] */
j-resize{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 2.75%;
  height: 100%;
  background-color: rbga(200,200,200,1);
}

/* [ico-slider] */
ico-slider{
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  background-color: rgba(255,255,255,.25);
}

/* [j-aside] */
j-aside{
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}

/* [j-select] */
j-select{
    position: relative; 
    height: 100%;
    display: inline-block; 
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(255,255,255,.9);
}

/* [j-option] */
j-option{
  position: relative;
  width: 84%; height: 100%; left: 0%; top: 0%;
  padding-left: 1%;
  display: block; box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(100,100,100,.95);
}
j-option:hover{
  background: rgb(225,225,225);
  color: rgb(95,95,115);
}
j-option:active{
  background: rgb(225,225,225);
  color: rgb(255,95,115);
}

/* [j-toggle] */
j-toggle{
  position: absolute; 
  left: 91.95%; 
  top: 15%;
  padding: 3px;
  border: outset 2px; 
  border-radius: 100%;
  display: inline-block; 
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(255,177,17,1);
  color: rgb(95,95,115);
}
j-toggle:hover{
  border: outset 2px; border-radius: 100%;
  background-color: rgba(100,175,100,1);
}
j-toggle:active{
  border: outset 2px; border-radius: 100%;
  background-color: rgba(255,255,17,1);
  color: rgb(95,95,115);
}

j-select > j-check, j-option > j-check{
  position: absolute; left: 85%; top: 20%; z-index: 10; padding: 1.5%;
  background: white;
}
j-select > j-check:hover, j-option > j-check:hover{
  background: skyblue; 
  border: ridge 2px;
}
j-select > j-check:active, j-option > j-check:active{
  background: yellow; 
  border: ridge 2px;
}

/* [j-btn] */
j-btn{
  display: inline-block;
  box-sizing: border-box;
  padding: 2px;
  background: rgba(200,200,200,1);
  border: rgba(150,150,150,1) 2px outset;
}

/* [j-ico] */
j-ico{
  display: block;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
j-menu > j-ico[data-active = "true"]{
  background-color: rgba(175,200,255,1);
  border: solid orange 1px;
}
j-ico:hover,j-min:hover,j-switch:hover{
  background-color: rgba(255,255,255,.75);
  border: solid orange 1px;
}

/* j-curtain */
j-curtain{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: rgba(255,177,17,1);
  border: 2px solid black;
}

/* [j-el] */
j-el{
  display: inline-block;
  box-sizing: border-box;
}

/* [jEditor] */
form[is="json-editor"], json-editor{
  position: relative;
  box-sizing: border-box;
  width: 77%;
  height: 25%;
  display: block;
  border: none;
  background-color: none;
}
e-ln{
  position:relative; 
  width: 100%; 
  height: calc(99.5%/4);
  border: inset .1vw black ; 
  background: rgb(255,255,255);
  display: block;
}
input[is="e-key"]{
  position: relative; 
  top: 0px; 
  left: 0px; 
  width: 15%; 
  height: 100%;
  display: inline-block;
  background: rgb(235,235,235);
  text-align: center;
}
input[is="e-txt"]{
  position: relative; 
  top: 0px; 
  left: 0px; 
  width: 85%; 
  height: 100%;
  padding: 0px;
  display: inline-block;
  background: rgb(215,245,215);
}
e-key:hover{
  background: rgb(185,185,135);
  border-color: yellow;
}
e-txt:hover{
  background: rgb(135,135,255);
  border-color: skyblue;
}

j-switch:hover{
  background: rgb(135,185,135);
  border-color: green;
}


/* [utility classes] */
.memory{
  position: fixed; 
  left: 0px; 
  top: 0px; 
  width: 0px; 
  height: 0px;
  overflow: hidden; 
  opacity: 0;
}
.tray{
  position: relative;
  overflow-X: hidden; 
  overflow-Y: scroll;
  background: rgba(77,77,77,1);
  border: outset 2px rgba(177,177,177,1);
}
.display{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}
.container{
  position: absolute;
  display: block;
  box-sizing: border-box;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.canvas{
  width: 20%; height: 28%;
  margin-left: 5%; margin-top: 2.5%;
  display: inline-block;
  background: rgba(215,215,215,1); fill: rgba(240,240,255,1);
}
.session-form{
  position: relative; top: 0%; left:0%; width: 25%; height: 40%;
  border: solid black 1px; background: rgb(213,255,213);
  display: inline-block;
}
.form-controls{
  font-size: .9vw; font-family: monospace;
  background-color: rgba(255,255,255,.75);
}
.btn{
  width: 10%; 
  height: 100%;
  padding: .15vw; 
  margin: .15vw;
  display: inline-block;
  background-color: rgb(185,185,185); border: outset 2px rgb(96,96,96);
}
.btn-small{
  width: 1vw; height: auto;
  padding: .05vw; margin: .05vw;
  display: inline-block;
  text-align: center;
  background-color: rgb(185,185,185); border: outset 2px rgb(96,96,96);
}
.btn-label{
  display: inline-block;
  text-align: center;
}
.logo{
  display: block;
  background-color: rgba(255,255,255,.125); 
  background-repeat: no-repeat;
  background-size: contain;
  border: outset 2px rgb(96,96,96);
}
.box-note{
  display: block;
  box-sizing: border-box;
  background-color: rgba(225,255,225,1);
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  color: rgba(100,150,100,1);
  font-size: 1.125vw;
}
.box-fill{
  width: 100%;
  height: 100%;
}
.square-large{
  width: 5.25vw; height: 5.25vw;
}
.right-wall{
  position: absolute; 
  left: 90%; 
  top: 11%; 
  width: 10%; 
  height: 65%;
}
.fit-large{
  width: auto; height: 100%;
}
.index-tray{
  position: relative; width: 50%; height: 100%;
  display: inline-block;
}
.rel{
  position: relative;
  display: block;
}
.abs{
  position: absolute;
  display: block;
}
.span-window{
  position: absolute; top: 0px; left: 0px;
  width: 100%;
}
.snug-window{
  position: absolute; top: 0px; left: 0px;
  width: 99%;
}
.ico-btn, .ico-fa{
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-repeat: none;
}
.ico-cir{
  position: relative;
  padding: 10px;
  border-radius: 50%;
  background: white; 
  border-style: outset;
  display: inline-block;
  background-size: contain;
  background-repeat: none;
}

/* [keyframe classes] */
.curtainsUp-1{
  -webkit-animation: gYmin-1;
  animation: gYmin-1;
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.curtainsDown-1{
  -webkit-animation: gYadd-1;
  animation: gYadd-1;
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.puddleGrow-1{
  -webkit-animation: gBar-1;
  animation: gBar-1;
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.puddleShrink-1{
  -webkit-animation: gBar-1;
  animation: gBar-1;
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-direction: reverse;
}

/* [SPECss] */
p.box-note{
  margin: 0%;
  padding: 10px;
  padding-bottom: 40px;
  text-decoration: underline;
}

/* [simple cs] */
.abs{
  position: absolute;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.margin-slight{
  margin: 2.5px;
}
.margin-small{
  margin: 5px;
}
.margin-medium{
  margin: 10px;
}
.margin_lft-slight{
  margin-left: 2.5px;
}
.margin_lft-small{
  margin-left: 5px;
}
.margin_lft-medium{
  margin-left: 10px;
}
.margin_lft-large{
  margin-left: 15px;
}
.padding-slight{
  padding: 2.5px;
}
.padding-small{
  padding: 5px;
}
.padding-medium{
  padding: 10px;
}
.padding-large{
  padding: 15px;
}
.flt-right{
  float: right;
}
.noln-break{
  white-space: nowrap;
}
.top{
  top: 0px;
}
.left-20{
  left: 20%;
}
.left-80{
  left: 80%;
}
.height-fill{
  height:100%;
}
.bg-pireGray{
  background-color: rgba(147,147,147,1); 
}
.bd-pireGray{
  border: solid 2px rgba(177,177,177,1);
}
.bg-pireOrange{
  background-color: rgba(255,125,25,1); 
}
.bd-pireOrange{
  border: solid 2px rgba(255,125,25,1);
}
.bg-liteGreen{
  background-color: rgba(175,255,175,1);
}
.bd-liteGreen{
  border: 2px solid rgba(175,255,175,1);
}
.bg-darkGreen{
  background-color: rgba(100,180,100,1);
}
.bd-darkGreen{
  border: solid 2px rgba(100,180,100,1);
}
.bg-white{
  background-color: white;
}
.bd-white{
  border: white 2px solid;
}

/* [text classes] */
.lite-text{
  color: rgba(215,215,215,1); stroke: rgba(215,215,215,1); fill: rgba(75,75,85,1);
}
.dark-text{
  color: rgba(75,75,85,1); stroke: rgba(75,75,85,1); fill: rgba(75,75,85,1);
}
.warning-text{
  color: rgb(189,145,145);
}
.warning-minor{
  font-family: monospace; font-size: .68vw;
  color: rgb(189,145,145);
}
.form-label{
  font-family: monospace; 
  font-size: .75vw;
  color: rgb(189,145,145);
}
.steel-text{
  color: rgba(175,175,185,1); stroke: rgba(175,175,185,1); fill: rgba(175,175,185,1);
}
.lite-outline{
  stroke: rgba(175,175,185,1); 
}
.dark-outline{
  stroke: rgba(75,75,85,1); 
}
.paragraph{
  font-size: 1.5vw;
}
.sub-title{
  font-size: 3vw;
}
.item-title{
  font-size: 1.35vw; 
  font-weight: bold;  
  color: rgb(145,145,145);
}
.col-title{
  font-size: 1.35vw; 
  font-weight: bold; 
  color: rgb(35,35,35);
}
.item-desc{
  font-size: 1.15vw; 
  font-weight: normal;
  color: rgb(35,35,35);
}
.item-status{
  font-size: 1.15vw; 
  font-weight: normal;
  color: green; 
}
.item-link{
  font-size: 1.15vw; 
  font-weight: normal; 
  color: blue; 
  text-decoration: none;
}
.title{
  font-size: 3.5vw;
}
.bold-underline{
  font-weight: bold;
  text-decoration: underline;
}
.underline{
  text-decoration: underline;
}

/* [icon classes] */
/* [google] */
.google-drive{ 
  background-image: url(//ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_4.ico);
}
.google-sheets{
  background-image: url(https://ssl.gstatic.com/docs/spreadsheets/favicon_jfk2.png);
}
.google-docs{
  background-image: url(https://ssl.gstatic.com/docs/documents/images/kix-favicon6.ico);
}

/* [icon classes] */
.icon-slider-1{
  background-image: url(img/icons/icons-1.png);
}
.iconfind-1{
  background: url(../img/icons/icon-02.png);
  background-repeat: no-repeat;
  background-size: contain;
}


/* [pi reel] */
.pireel-1{
  background-image: url(../img/logos/pireel-01.png);
}
.pireel-5{
  background-image: url(../img/logos/pireel-05.png);
}
.pireel-core{
  background-image: url(../img/pireel-icon.svg);
}
.fire_rollie{
  background-image: url(../img/fire_rollie.png);
}
.fire_rollie-5{
  background-image: url(../img/fire_rollie-5.png);
}

/* [Mozilla] */
.gbl-sprint{
  background-image: url(../img/mozsprint.jpg);
}

/* [c9] */
.c9{
  background-image: url(https://ide.c9.io/favicon.ico);
}

/* [gitter] */
.gitter{
    width: 2.75vw; height: 3.25vw;
    background: url("//cdn03.gitter.im/_s/88aafe0/images/favicon-read.ico") no-repeat;
    background-size: 95%;
}

/* [media qeuries template] */
@media screen and (max-width: 1960px){
}
@media screen and (max-width: 800px){
}
@media screen and (max-width: 640px){
}
@media screen and (max-width: 360px){
}
@media screen and (max-width: 160px){
}
@media screen and (min-width: 800px){
}
