/*
  Author: Steven Van Sant
  Stylesheet made for xtag-base.js mashup bin component module library.
*/

body{
    background: rgba(0,0,0,1) url(../img/astrophotography/NGC6960-2013_Fred_Hermann.png) repeat right fixed;
    background-size: 50%;
}

/* [class] */
.memory{
    position: fixed; left: 0px; top: 0px; width: 0px; height: 0px;
    overflow: hidden; opacity: 0;
}

