/*
  Author: Steven Van Sant
  Stylesheet
*/

/* [html] */
body{
    font-size:1vw;
}

/* [utility classes] */
.memory{
  position: fixed; left: 0px; top: 0px; width: 0px; height: 0px;
  overflow: hidden; opacity: 0;
}
.tray{
  position: relative; left: auto; top: auto; width: auto; height: auto;
  overflow-X: hidden; overflow-Y: scroll;
  background: rgba(77,77,77,1);
  border: outset 2px rgba(177,177,177,1);
}

/* [img classes] */
@media screen and (min-width: 160px){
  .logo{
    width: 100%; height: auto;
    
  }
}
@media screen and (min-width: 800px){
  .logo{
    width: 50%; height: auto;
    
  }
}
@media screen and (min-width: 640px){
  .logo{
    width: 50%; height: auto;
    
  }
}
@media screen and (min-width: 360px){
  .logo{
    width: 50%; height: auto;
    
  }
}

/* [svg] */


