body{
    padding-left: 15%;
    background-image: url(../../img/skyscapes/NGC6960-2013_Fred_Hermann.png);
    background-position: center;
    background-size: contain;
}

/*
    top menu container styles start
*/
#header-bar{
    position: relative;
    top: 0px; left: 0px;
    background-color: rgb(75,75,75);
    width: 850px; 
    height: 100px;
    margin-bottom: 5px;
}
#animator-header-menu{
    position: absolute;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
}
#animator-drop-menu-nav-button{
    position: absolute;
    top: 0px; left: 10px;
    border-radius: 10px;
    padding: 5px;
    width: 95px;
    background: rgb(255,255,255);
}
#tabs-bar{
    position: absolute;
    left: 480px;
    width: 350px;
    height: 59px;
    background: rgba(255,255,255,.5);
}
#tabs-label{
    margin-left: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background: rgba(255,255,255,.5);
}
#add-workspace{
    position: absolute;
    top: 8px;
    left:  0px;
    width: 25px;
    height: 48px;
}
#tabs-drop-menu{
    position: absolute;
    top: 55px;
    left:  0px;
    width: 100%;
}
/*
    top menu container styles end
*/

/* bottom editor conatainer start */
#json-editor{
    position:relative;
    width: 850px; 
    height: 205px;
    background: rgb(75,75,75);
}
#json-console{
    position: absolute;
    top: 0px;
    padding: 0px;
    background: rgb(75,75,75,0);
    border: none;
    display: inline-block;
    width: 520px; 
    height: 124px;
    overflow-Y: hidden;
    overflow-x: hidden;
}
#json_markup_editor{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 230px;
    overflow:visible;
}
#json-response{
    position: absolute;
    top: 0px; left: 560px;
    background: rgb(235,235,235);
    display: inline-block;
    width: 260px; height: 130px;
}
#execution-menu{
    position:relative; 
    width:540px; height: auto;
    padding: 3px;
    top: 175px; left: 4px; background: rgba(0,0,255,.5);
}
/* 
    bottom editor conatainer 
*/

#textEditorTool{
    color: rgba(0,0,0,0);
    background-image: url(../../img/ui/textEditorTool.png);
    background-size: 75%; background-position: center; background-repeat: no-repeat;
}

#global-discusPallete{
    position: fixed;
    padding: 10px;
    background: rgb(215,215,255);
    border: inset 2px rgb(115,115,115);
    top: -77px; left: 84px;
    width: 130px; height: 130px;
    border-width: 10px;
    border-radius: 120px;
    -ms-transform: scale(.4); /* IE 9 */
    -webkit-transform: scale(.4); /* Safari */
    transform: scale(.4);
    z-index: 1000;
}

#work-table{
    width: 863px; height: auto;
}


#global-discusPallete:hover{
    border-color: yellow;
}


legend.labelTitle{
    padding: 0px 15px 0px 15px;
    background: rgb(255,255,255);
    border-radius: 7px;
}
fieldset.discus-pallete-upper{
    position: relative;
    background: rgb(115,115,115); border: solid black 1px;
    display: block;
    width: 104px; height: 47px;
    border-radius: 100px 100px 0px 0px;
    margin: 0px;
}
fieldset.discus-pallete-lower{
    position: relative;
    background: rgb(215,215,215); border: solid black 1px;
    display: block;
    width: 104px; height: 46px;
    border-radius: 0px 0px 100px 100px;
    margin: 0px;
}

input.tabs-autosave{
    position: absolute;
    left: 25px;
    top: 10px;
    width: 50px;
    height: 50px;
    margin: 0px;
    background: white;
}

.response-label{
    display: inline-block;
    width: 50px; height: 20px;
}
.disc-upper-left{
    position: relative;
    display: inline-block;
    width: 50px; height: 50px;
    margin: 0px;
    background: rgb(75,75,125);
    border-radius: 60px 0px 0px 0px;
    border: groove 1px rgb(0,0,0);
}
.disc-upper-right{
    position: relative;
    display: inline-block;
    width: 50px; height: 50px;
    margin: 0px;
    background: rgb(100,100,150);
    border-radius: 0px 60px 0px 0px;
    border: groove 1px rgb(0,0,0);
}
.disc-lower-left{
    position: relative;
    display: inline-block;
    width: 50px; height: 50px;
    margin: 0px;
    background: rgb(100,100,200);
    border-radius: 0px 0px 0px 60px;
    border: groove 1px rgb(0,0,0);
}
.disc-lower-right{
    position: relative;
    display: inline-block;
    width: 50px; height: 50px;
    margin: 0px;
    background: rgb(100,100,255);
    border-radius: 0px 0px 60px 0px;
    border: groove 1px rgb(0,0,0);
}
.modeButton{
    width: 30px; height: 30px;
    border-radius: 10px;
}
.work-area{
    position: relative;
    background: white;
    margin-left: 5%;
    padding: 5px; width: 89%; height: 100%;
}
.activeSheet{
    border-radius: 15px;
    background: rgb(50,50,50);
    border: yellow 2px inset;
}
.active-check{
    position: absolute;
    top: 11px; left: 92%;
    height: 25px; width: 25px;
}

fieldset.active-toolbar{
    position: absolute;
    padding: 0px;
    border-style: groove;
    width: 25px; height: 75px;
    left: 91.75%; top: 40px;
}
.activeToolbarButton{
    border-style: ridge;
    width: 25px; height: 25px;
}
.next{
    color: rgba(0,0,0,0);
    background-image: url(../../img/ui/next.png);
    background-size: 75%; background-position:  center; background-repeat: no-repeat;
}
.previous{
    color: rgba(0,0,0,0);
    background-image: url(../../img/ui/previous.png);
    background-size: 75%; background-position: center; background-repeat: no-repeat;
}