/* CSS Document */
memory{
	position:absolute;visibility:hidden;
}
ul{
	list-style:none;
}
li{
	padding:3px;
}
.section_title{
	margin:25px;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif; font-size:22px;
}
/* Beginning of header styles */
#kip_header{
	position:absolute; top:0px; left:0px;
	font-family:lucida sans typewriter; font-size:18px;
}
#header_nav{
	position:absolute; top:30px; left:400px; width:500px; height:110px; padding:10px;  
	background-color:rgba(0,0,255,.2);  border-radius:50px 0px 100px 0px;
}
#header_nav .message{
	position:absolute; top:5px; left:140px;
	font-size:14px;
}
#header_nav a{
	font-size:14px;
}
#kip_header a:hover{
	color:red;
}

/* End of header styles */
/* beginning of content styles */

#kip_content{
	position:absolute; top:170px; left:0px; padding:30px; 
	font-family:lucida sans typewriter;
}
#kip_content .projects_list{
	position:relative; width:700px;
}
#kip_content .message{
	width:900px;
	font-size:15px;
}
#kip_content .offsite_links{
	position:absolute; left:1000px; top:10px; padding:10px;
	background-color:rgba(0,0,255,.7); 
	font-family:lucida sans typewriter; font-size:16px;
} 
.account_login{
	position:absolute; top:25px; left:25px; 
	width:250px; 
}
.username{
	width:150px; 
}
.pword{
	width:150px; 
}
/* End of content styles */
/* beginning of footer styles */

.footer{
	position:absolute; top:850px; left:0px; width:980px; height:175px; 
	background-color:rgba(0,255,0,.5); border-radius:0px 0px 100px 0px;
}
#nav_footer a{
	font-family:"Lucida Sans Typewriter", monospace;font-size:15px;color:rgba(64,64,64,1);
}
#nav_footer a:hover{
	color:rgba(250,100,100,1); 
}
#communicate_nav{
	position:absolute; top:0px; left:0px; width:400px; 
	background-color:rgba(255,255,255,.25); border-bottom:1px rgba(0,255,0,1) solid; 
}
#citation{
	position:absolute; top:10px; left:480px; width:480px; padding-top:10px; 
	background-color:rgba(255,255,255,.25); border-bottom:1px rgba(0,255,0,1) solid;
	 border-radius:0px 0px 100px 0px;
	font-family:"Lucida Sans Typewriter", monospace;font-size:14px;color:rgba(24,24,24,1);
	text-align:center;
}

/* End of footer styles */