/* CSS Document */
memory{
	position:absolute;visibility:hidden;
}
ul{
	list-style:none;
}
li{
	padding:3px;
}
.section_title{
	margin:0px;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif; font-size:22px;
}
/* Beginning of header styles */
#kip_header{
	position:absolute; top:0px; left:0px; width:200px;
	font-family:lucida sans typewriter; font-size:18px;
}
#header_nav{
	position:absolute; top:10px; left:210px; width:800px; height:120px; padding:10px;  
	background-color:rgba(255,0,0,1);  border-radius:10px 0px 30px 0px; border-bottom:2px solid rgba(100,100,100,1); 
}
#header_nav .message{
	position:absolute; top:10px; left:350px; width:350px; padding:10px; 
	background-color:rgba(255,255,255,1); border-radius:10px;
	font-size:14px;
}
#header_nav a{
	color:black; font-size:16px; font-weight:bold;  
}
#kip_header a:hover{
	color:white;
}
.account_login{
	position:absolute; top:25px; left:25px; 
	width:250px; 
}
.username{
	width:150px; 
}
.pword{
	width:150px; 
}
/* End of header styles */

/* Beginning of content styles */
#kip_content{
	position:absolute; top:150px; left:30px; padding:30px; 
	font-family:lucida sans typewriter;
}
#kip_content .section_title{
	position:absolute; top:20px; left:0px; width:600px; 
}
#kip_content .message{
	position:absolute; top:50px; 
	width:900px;
	font-size:15px;
}
.form_section{
	position:absolute; top:250px;width:900px;
}
.form_section label{
	position:relative; width:600px;
}
.club_list{
	position:absolute; top:70px; left:950px; height:265px; width:260px; padding:5px; 
	background-color:rgba(255,0,0,1); border:2px solid rgba(0,0,0,1); 
	font-weight:bold; color:white; 
}
/* End of content styles */
/* beginning of footer styles */
.footer{
	position:absolute; top:1035px; left:10px; width:980px; height:305px; 
	background-color:rgba(0,255,0,.5); border-radius:0px 0px 305px 0px;
}
#nav_footer a{
	font-family:"Lucida Sans Typewriter", monospace;font-size:15px;color:rgba(64,64,64,1);
}
#nav_footer a:hover{
	color:rgba(250,100,100,1); 
}
#communicate_nav{
	position:absolute; top:0px; left:0px; width:400px; 
	background-color:rgba(255,255,255,.25); border-bottom:1px rgba(0,255,0,1) solid; 
}
#citation{
	position:absolute; top:10px; left:480px; width:480px; padding-top:10px; 
	background-color:rgba(255,255,255,.25); border-bottom:1px rgba(0,255,0,1) solid;
	border-radius:0px 0px 100px 0px;
	font-family:"Lucida Sans Typewriter", monospace;font-size:14px;color:rgba(24,24,24,1);
	text-align:center;
}
#kip_footer .offsite_links{
	position:absolute; left:30px; top:150px; padding:10px; padding-right:300px; 
	background-color:rgba(0,0,255,.7); border-radius:0px 0px 150px 0px; 
	font-family:lucida sans typewriter; font-size:16px;
} 
/* End of footer styles */